body {
  margin: 0;
}
    nav{
  position: fixed;
  top: 0px;
  width: 100%;
  height:10%
   margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: deepskyblue;
      text-align:center;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align:center;
}
      
      
.b1{
 text-align:center;
    width:100%;

  background: lightgrey;
  padding-top: 15vh;
    padding-bottom: 15vh;
}
.b1 h1{
   font-size:3.5em;
}
.b1 h2{
  font-size:2.5em;
}

#projects{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}



 #projects img  {
  width: 35%;
  height: 300px;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
   margin:0;
  object-fit:cover;
}

#projects button{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
