body {
  margin: 0;
}
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
    nav{
  position: fixed;
  top: 0px;
  width: 100%;
  height:10%
   margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: deepskyblue;
      text-align:center;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align:center;
}
      
      
.b1{
 text-align:center;
    width:100%;

  background: lightgrey;
  padding-top: 15vh;
    padding-bottom: 15vh;
}
.b1 h1{
   font-size:3.5em;
}
.b1 h2{
  font-size:2.5em;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 6rem;
  
}


@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}


.project {
  background:grey;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.code {
  color:white;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

h2{
  text-align:center;
  font-size:2.5em;
}
hr{
  width:50%;
  left:25%
  margin-top:0 auto;
}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.btn-show-all {
  font-size: 2rem;
  transition: background 0.3s ease-out;
}

#socials{
 display:incline-block;
}
a{
  background:blue;
  
}
#socials social{
 width:25% ;
   object-fit:cover;
}
.projg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 6rem;
  
}
